.idea
.DS_Store
xcuserdata
xcshareddata
TenPair/Secrets.swift
project.xcworkspace
Shared/Secrets.swift
iOS/Secrets/GoogleService-Info.plist
fastlane/README.md
fastlane/report.xml
fastlane/965FUXH96J.json
fastlane/Appfile
iOS/Secrets/Secrets.swift
TenPair.app.dSYM.zip
TenPair.ipa
